:root {
    --color-primary: rgba(246, 242, 242, 1);
    --color-secondary: rgba(0, 0, 0, 0.8);
    --color-tertiary: rgba(255, 255, 255, 1);
    --color-quaternary: rgba(255, 45, 45, 1);
    --font-fonts1: 'Open Sans';
    --font-fonts2: 'Open Sans Bold';
}

html {
    background-color: var(--color-primary);
    
}

.interdiction-scroll {
    overflow: hidden;
}

.h1, h2, h3 {
    position: relative;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
}

.page__navigation {
    box-sizing: border-box;
    min-height: 90px;
}

.page__navigation_grey {
    background-color: var(--color-primary);
}


.initial__content-contact-lower {
    transform: translateX(150%);
    overflow-y: hidden;
    flex-wrap: wrap;
    align-content: center;
    width: 0;
    position: fixed;
    bottom: 30px;
    transition: transform 0.5s ease;
}

.initial__content-contact-button {
    width: min(100%, 350px);
}



/* Navigation */

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: var(--color-secondary);
    top: -100%;
    transition: top 0.3s ease 0s;
}

.navigation__menu {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
    transition: all 0.5s;
}

.menu__item:hover {
    background-color: #FF3F40;
}

.menu__link {
    font-family: var(--font-fonts2);
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: rgba(224, 224, 224, 1);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation__button {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    flex: 2;
}

.navigation__button-burger {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.6s ease;
    position: relative;
    padding: 0;
    margin-right: 10px;
    background-image: url(../images/burger-menu.svg);
}

.navigation__button-burger_opened {
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.navigation__button-burger:hover {
    opacity: 0.8;

}

/* Inital-acquaintance */

.initial__content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    flex-grow: 1;
    background-color: var(--color-primary);
}

.initial__content-up {
    display: flex;
    justify-content: end;
    align-content: center;
    position: fixed;
    flex-wrap: wrap;
    align-items: end;
    width: 100%;
    bottom: 0;
}

#initial__content-up-button {
    width: 100%;
    max-width: 80px;
    min-height: 80px;
    margin: 3vw;
    border-radius: 50%;
    background-color: rgba(224, 224, 224, 1);
    background-image: url(../images/up.svg);
    transition: all 0.5s;
}

#initial__content-up-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.intro {
    padding-top: 102px;
    padding-bottom: 111px;
}

.intro__content_left {
    position: relative;
    bottom: 12px;
    width: 100%;
    max-width: 616px;
    margin-bottom: 10px;
    margin-right: 82px;
}

.intro__content_right {
    width: 100%;
    max-width: 551px;
    height: 100%;
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.300), 0 0 100px rgba(0, 0, 0, 0.318);
}

.intro__heading {
    font-family: 'Open Sans Extrabold Italic';
    margin: 0;
    font-size: 60px;
    font-style: normal;
    line-height: 72px;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.intro__iframe {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 64.6%;
}

.intro__iframe iframe {
    width: 100%;
	height: 100%;
    top: 0;
	position: absolute;
}

.section_1 {
    max-width: 1250px;
}

.section__text {
    font-family: var(--font-fonts1);
    margin: 0;
    line-height: 28px;
    width: 100%;
    max-width: 545px;
    margin-bottom: 33px;
}

.section__button_red {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    width: 100%;
    max-width: 227px;
    height: 100%;
    min-height: 55px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 31px;
    border: none;
    color: var(--color-tertiary);
    background-color: var(--color-quaternary);
    transition: all 0.5s;
}

.section__button_red:hover {
    cursor: pointer;
    background-color: rgb(205, 45, 45);
}

.section__button_red:focus {
    vertical-align: middle;
    box-shadow: inset 5px 5px 5px rgba(84, 72, 72, 0.698);
}

.centering {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 551px;
    height: 100%;
    min-height: 356px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1579px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    box-sizing: border-box;
}

/* Services */

.service__appellation {
    margin: 0 0 50px;
}

.services__lead_right::before {
    display: block;
}

.services__lead_left {
    margin-top: 107.5px;
    margin-right: 102px;
    width: 100%;
    max-width: 540px;
}

.service__text-left, .service__text-right {
    font-family: var(--font-fonts1);
    margin: 0;
    line-height: 28px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;
}

.service__text-right {
    width: 100%;
    max-width: 288px;
}

.services__lead_right {
    display: flex;
    flex-wrap: wrap;
    margin-top: 109.5px;
    flex: 1 1;
    width: 100%;
    max-width: 635px;
    height: 100%;
    max-height: 585px;
}

.service__heading {
    font-family: 'Open Sans SemiBold Italic';
    margin: 0;
    letter-spacing: 0.27px;
    font-size: 24px;
    margin-bottom: 12.5px;
}

.section__heading {
    font-family: var(--font-fonts2);
    width: 100%;
    height: 100%;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.service__button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-quaternary);
    border: 2px solid rgba(255, 0, 0, 1);
}

.service__button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.services {
    flex: 1 1 286px;
    padding-right: 19px;
    background-color: var(--color-tertiary);
}

.service__img {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    max-width: 290px;
    min-height: 40px;
    padding-bottom: 32px;
}

/* Feature-products */

.feature__line {
    margin: 0 auto;
    margin-top: 60px;
    background: rgba(236, 236, 236, 1);
    width: 100%;
    max-width: 1250px;
    height: 100%;
    min-height: 2px;
    border: none;
}

.feature {
    background-color: var(--color-tertiary);
    padding-right: 19px;
}

.feature__products {
    width: 100%;
    text-align: center;
    margin-bottom: 86px;
}

.feature__appellation {
    font-weight: 700;
    margin-top: 104px;
    margin-bottom: 28.5px;
    height: 32px;
    text-align: center;
    letter-spacing: 0.38px;
}

.feature__description {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 538px;
    height: 100%;
    min-height: 56px;
    margin-bottom: 33px;
}

.feature__line_red {
    margin: 0 auto;
    width: 100%;
    max-width: 134px;
    background: var(--color-quaternary);
    height: 100%;
    min-height: 2px;
    border: none;;
}

/* Product */

.product__picture {
    width: 100%;
    max-width: 300px;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
}

.products__type {
    display: grid;
    gap: 60px;
    grid-auto-flow: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    min-height: 24px;
    width: 100%;
    list-style: none;
    margin-bottom: 55px;
    padding: 0 10px;
}

.product__item {
    letter-spacing: 0.22px;
}

.product__link {
    display: flex;
    position: relative;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.product {
    display: inline-grid;
    justify-content: center;
    gap: 20px;
    max-height: 640px;
    position: relative;
    width: 100%;
}

.product__content {
    display: grid;
    grid-template-rows: 300px 300px;
    justify-content: center;
    gap: 20px;
    grid-auto-flow: column;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
}

.product-overlay {
    display: grid;
    width: 100%;
    max-width: 300px;
    height: 100%;
    min-height: 300px;
}

.product__overlay-opened {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 300px;
    min-width: 0;
    height: 300px;
    transition: all .3s ease-in-out;
    position: absolute;
    color: rgba(255, 255, 255, 0);
}

.product__overlay:hover>.product__overlay-opened {
    cursor: pointer;
    visibility: visible;
    color: var(--color-tertiary);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px) brightness(80%);
}

/* Team */

.team {
    justify-content: flex-start;
    background-color: var(--color-tertiary);
    padding-right: 19px;
    box-sizing: border-box;
    text-shadow: 0 3px 6px rgba(84, 72, 72, 0.5);
}

.team__header {
    width: 100%;
}

.team__appellation {
    padding-left: 177px;
    margin-top: 104px;
    margin-bottom: 56px;
    height: 32px;
    text-align: start;
    letter-spacing: 0.38px;
    width: 100%;
    max-width: 360px;
}

.team__description {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding-left: 180px;
    width: 100%;
    max-width: 440px;
    height: 100%;
    min-height: 130px;
}

.team__description::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 128px;
    height: 2px;
    right: 322px;
    left: 180px;
    margin-left: 0px;
    background: var(--color-quaternary);
    box-shadow: 0 3px 6px rgba(84, 72, 72, 0.5);
}

.team__members {
    width: 100%;
    max-width: 1470px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 462px;
    margin-top: 66px;
    margin-bottom: 110px;
}

.team__characteristics {
    display: flex;

}

.team__selected_photo {
    width: 100%;
    max-width: 310px;
    height: 100%;
    min-height: 458px;
    object-fit: cover;
    
    flex-shrink: 0;
    margin-left: 180px;
    background-color: rgba(255, 59, 59, 1);
    grid-column: 1/2;
    grid-row: 1/3;
    box-shadow: 0 5px 5px rgba(84, 72, 72, 0.4);
}

.team__main-content {
    display: flex;
    flex-direction: column;
}

@supports (display: grid) and (display: contents) {
    .team__members {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        align-items: end;
    }
    .team__main-content {
        display: contents;
    }
}

.team__main-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    max-width: 662px;
    grid-column: 2/3;
    grid-row: 1/2;
}

.team__characteristics {
    margin: 0;
    line-height: 28px;
    margin-bottom: 38px;
}

.team__selected-name {
    font-family: var(--font-fonts1);
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.team__selected-links {
    font-family: 'Open Sans Italic';
}

.team__selected-link {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    text-decoration: none;
    margin-right: 30px;
}

.team__selected-link:last-of-type {
    margin-right: 0;
}

.members, .member {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 198px);
    max-width: 920px;
    position: relative;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 198px;
    visibility: hidden;
    color: var(--color-tertiary);
    position: absolute;
    bottom: 0;
    height: 38px;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.member:hover > .member__name {
    visibility: visible;
    cursor: pointer;
}

.member__photo {
    display: block;
    width: 198px;
    height: 218px;
    background-color: rgba(255, 59, 59, 1);
    box-shadow: 0 5px 5px rgba(84, 72, 72, 0.4);
    object-fit: cover;
}

/* Subscribe */

.subscribe {
    box-sizing: border-box;
    display: block;
    background-color: rgba(45, 45, 45, 1);
    padding-top: 125px;
    padding-bottom: 120px;
}

.subscribe__header {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 56px;
}

.subscribe__heading {
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.05px;
    color: var(--color-tertiary);
    text-transform: none;
    margin-bottom: 20px;
}

.subscribe__text {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    color: var(--color-tertiary);
    margin-bottom: 56px;
}

.subscribe__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}

.subscribe__input {
    color: rgba(44, 44, 44, 1);
    display: flex;
    align-items: center;
    flex: 0 1 526px;
    min-height: 78px;
    padding: 0;
    padding-right: 22px;
    padding-left: 36px;
    border: none;
    background-color: var(--color-tertiary);
    margin-bottom: 16px;
    border-radius: 5px;
}

.subscribe__button {
    max-width: 218px;
    height: 100%;
    min-height: 78px;
    margin-left: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

/* Connection-contacts */

.connection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 92px;
    padding-bottom: 110px;
    width: 100%;
    max-width: 1579px;
    margin: 0 auto;
    
    background-color: var(--color-tertiary);
}

.connection-contacts::after {
    height: 100%;
    background-color: rgba(45, 45, 45, 1);
}

/* Connection-block */

.connection__block_left {
    width: 100%;
    max-width: 1154px;
    padding-left: 163px;
}

.connection__header {
    margin-bottom: 34px;
}

.connection__heading {
    margin: 0;
    margin-bottom: 45px;
}

.connection__text {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding-left: 0px;
    width: 100%;
    max-width: 715px;
    height: 100%;
    min-height: 73px;
    padding-bottom: 70px;
}

.connection__text::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 128px;
    height: 2px;
    right: 322px;
    left: 0;
    margin-left: 0px;
    background: var(--color-quaternary);
}

.connection__section {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 786px;
    padding-right: 0;
    margin: 0;
    padding-left: 163px;
}

.connection__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 786px;
}

.connection__input {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 52px;
    margin-top: 44px;
    align-items: center;
    padding-left: 53px;
}

.connection__input::placeholder {
    color: rgba(0, 0, 0, 1);
}

.connection__input_name, .connection__input_mail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    max-width: 339px;
    height: 69px;
}

.connection__message {
    resize: none;
    box-sizing: border-box;
    font-size: 16px;
    width: 734px;
    height: 252px;
    padding-top: 33px;
    box-shadow: 0 5px 5px rgba(84, 72, 72, 0.4);
}

.connection__button {
    font-weight: 700;
    align-items: center;
    width: 100%;
    max-width: 734px;
    height: 75px;
    margin-top: 43px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    
}

.connection__button:focus {
    vertical-align: middle;
    box-shadow: inset 5px 5px 5px rgba(84, 72, 72, 0.698);
}

.connection__block_right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    max-width: 580px;
    height: 485px;
    background-color: rgba(45, 45, 45, 1);
}

.connection__info {
    font-family: var(--font-fonts2);
    width: 100%;
    color: var(--color-tertiary);
    padding-left: 81px;
    margin-bottom: 3px;
    margin-top: 0;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.connection__info__text {
    width: 100%;
    max-width: 315px;
    color: var(--color-tertiary);
    padding-left: 81px;
    margin-top: 27px;
    margin-bottom: 0;
}

.connection__info__number {
    width: 100%;
    color: var(--color-tertiary);
    padding-left: 81px;
    margin-top: 20px;
    margin-bottom: 0;
}

/* Footer */

.footer {
    margin: 0 auto;
    background-color: var(--color-primary);
    width: 100%;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: rgba(49, 48, 48, 1);
    height: 100%;
    min-height: 113px;
    padding: 0 1vw;
    box-sizing: border-box;
}

.footer__text {
    font-family: var(--font-fonts1);
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 145px;
    padding-top: 38px;
    color: rgba(184, 184, 184, 1);
}

.footer__social-lincs {
    display: flex;
    padding-right: 128px;
    padding-top: 32px;
}

.footer__link {
    display: flex;
    margin-right: 18px;
    transition: all 0.5s;
    z-index: 2;
    border-radius: 50%;
}

.footer__link:hover {
    box-shadow: 0 0  10px rgba(255, 45, 45, 1);
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 1579px) {
    .intro__content_left {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: 0;
        padding: 0 10px;
    }
    
    
    
    .intro__content_right {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .feature, .team, .services {
        padding: 0;
    } 

    .product__block {
        max-height: 100%;
    }

    .product__content {
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        display: block;
        height: 100%;
        max-height: 2500px;
    }
    
    .team__members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        max-width: 1579px;
    }

    .members {
        width: 100%;
        justify-content: center;
    }
    
    .team__main-info {
        max-width: none;
        flex-wrap: wrap;
        align-content: center;
        padding: 0 10px;
    }

    .member:not(:last-child) {
        margin-right: 0;
    }

    .team__selected_photo {
        margin: 0 auto;
        margin-top: 30px;
    }

    .team__header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__description {
        padding: 0 10px;
    }

    .team__appellation {
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 104px;
        margin-bottom: 56px;
        text-align: center;
    }

    .team__selected-links {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .team__description::after {
        left: 10px;
    }

    .team__selected-name, .connection__heading {
        text-align: center;
    }

    .connection__text {
        display: flex;
    }

    .connection__block_left, .connection__section {
        padding: 0 10px;
        box-sizing: border-box;
        max-width: none;
        justify-content: center;
    }

    .connection__input_name, .connection__input_mail, .connection__message {
        margin: 20px auto;
    }

    .connection__button {
        margin: 43px auto;
    }

    .connection {
        justify-content: center;
        padding-bottom: 45px;
    }

    .connection__block_right {
        justify-content: center;
    }

    .connection__info, .connection__info__text, .connection__info__number {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1283px) {
    .services__lead_left {
        max-width: 100%;
        padding: 0 10px;
        text-align: center;
        margin-right: 0;
    }

    .section__text {
        text-align: start;
        margin-bottom: 38px;
        box-sizing: border-box;
    }

    .connection__info, 
    .connection__info__text, 
    .connection__info__number,
    .team__description {
        margin-bottom: 0;
    }

    .service__button {
        margin: 13px auto;
    }

    .header__line {
        margin: 95px auto;
    }

    .feature__description {
        text-align: center;
    }

    .feature__products {
        margin-bottom: 20px;
    }
    
    .services__text {
        margin: 0 auto;
    }
}  

@media screen and (max-width: 1190px) {
    .intro__content_left {
        justify-content: center;
    }

    .intro__heading {
        text-align: center;
    }
}

@media screen and (max-width: 880px) {
    .footer__text {
        margin: 0 auto;
        padding: 15px 10px;
        padding-bottom: 0;
        text-align: center;
    }

    .footer__social-lincs {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 20px 10px;
        width: 100%;
    }
}

@media screen and (max-width: 838px) {
    .subscribe__button {
        margin: 0 20px;
    }
}

@media screen and (max-width: 780px) {

    .connection__form {
        justify-content: center;
    }

    .connection__input {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-width: 100%;
    }

}

@media screen and (max-width: 720px) {
    .product__link {
        flex-wrap: wrap;
        justify-content: center;
    }

    .products__type {
        grid-auto-flow: row;
        gap: 10px;
    }
}



@media screen and (max-width: 635px) {
    .services {
        flex: 1 1 1388px;
    }

    .services__lead_right {
        margin-top: 20px;
        max-height: 850px;
        padding: 0 10px;
    }

    .service__text-left, 
    .service__text-right, 
    .service__heading, 
    .service__img {
        margin: 0 auto;
        padding-bottom: 10px;
    }
    
    .service__heading {
        text-align: center;
    }
    
    .service__img-mgt, 
    .service__img-uud, 
    .service__img-lb, 
    .service__img-anmtn {
        margin: 0 auto;
        
    }

    .header__line {
        margin: 0 auto;
    }
}

@media screen and (max-width: 571px) {

    .intro__heading {
        font-size: calc(10vw + 3px);
    }
    
    .section__heading,
    .feature__appellation {
        font-size: calc(7vw + 2px);
    }

    .team__selected-name {
        font-size: calc(5vw + 1px);
    }
}

@media screen and (max-width: 560px) {
    .subscribe__text {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    #initial__content-up-button {
        max-width: calc(9vw + 35px);
        min-height: calc(9vw + 35px);
    }

    .navigation {
        transform: translateX(120%);
        position: fixed;
        margin-top: 90px;
        top: 0;
        right: 0;
        width: 0;
        overflow: hidden;
        background-color: var(--color-secondary);
        height: 100%;
        align-content: flex-start;
        transition: transform 0.5s ease;
    }

    .navigation__contact {
        display: none;
    }

    .navigation__button-burger_opened {
        background-image: url(../images/krest.svg);
    }

    .initial__content-contact-button {
        margin: 0 auto;
        width: min(55%, 227px);
    }

    .navigation_opened, .navigation__button, .navigation__button-burger_close, .menu__link_close {
        display: flex;
        z-index: 2;
    }

    .navigation_opened {
        transform: translateX(0);
        width: 100%;
    }

    .page__navigation {
        display: flex;
        position: fixed;
        background-color: var(--color-secondary);
        width: 100%;
        z-index: 2;
    }

    .intro__heading {
        margin-top: 90px;
    }

    .menu__item {
        width: 100%;
    }

    .navigation__button-burger, .navigation__button-img, .initial__content-contact-lower_opened{
        display: flex;
        position: fixed;
        z-index: 3;
    }

    .initial__content-contact-lower_opened {
       transform: translateX(0);
       width: 100%;
    }
    
}

@media screen and (max-width: 400px) {
    .connection__info__text {
        text-align: center;
    }

    .service__heading {
        font-size: calc(5vw + 4px);
    }
}

@media screen and (max-width: 384px) {
    .team__selected-links {
        display: flex;
        flex-direction: column;
    }

    .team__selected-link {
        margin-right: 0;
        text-align: center;
    }
}

    @media screen and (max-width: 347px) {
        .team__description {
            padding-bottom: 20px;
        }
    }

    @media screen and (max-width: 320px) {
        .team__selected_photo {
            max-width: 100%;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 300px) {
        .product__picture {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }

        .section__text, .service__text-left, .service__text-right {
            font-size: 5vw;
        }
    }